header {
   height:40px;
   width:100%;
   display: flex;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:#666666;
   text-align: center;
}

.local_links

.h1{
	background: blue;
	height: 40px;
	width: 100px;
}

.local_links {
	display: flex;
	right: 0px;
	top: 0px;
}

.flexparent {
	display: flex;
}

.float {
	float: left;
}

.images {
	display: flex;
}