header {
   height:40px;
   width:100%;
   display: flex;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:#666666;
   text-align: center;
}

.h1{
	background: blue;
	height: 40px;
	width: 100px;
}

.flexmain {
	display: flex; 
}

.flexindex {
	display: flex; 
	flex-direction: column;
}

.flexvert {
	display: flex;
	flex-direction: column;
}

.images {
	display: flex;
}

.flex {
	display: flex;
}
.local_links {
	display: flex;
	right: 0px;
	top: 0px;
}