header {
   height:40px;
   width:100%;
   display: flex;
   background-color: red;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:#666666;
   text-align: center;
}

.h1 {
	background-color: blue;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.local_links {
	position: fixed;
	right: 0px;
	top: 0px;
	background-color: yellow;	
}

.flexparent {
	display: flex;
}

.float {
	float: left;
}

.images {
	display: flex;
}